name: Deploy Docker Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/${{ secrets.EC2_USER }}

            # Clone repo first time if not exists
            if [ ! -d "Website_CI-CD" ]; then
              git clone https://github.com/abhinav-sharma-dev/Website_CI-CD.git
            fi

            cd Website_CI-CD
            git pull origin main

            # Stop and remove old container
            docker stop website || true
            docker rm website || true

            # Build new image
            docker build -t website .

            # Run container
            docker run -d -p 80:80 --name website website
